body {
  display: flex;
  flex-wrap: nowrap;
}

body>div {
  display: flex;
  flex-direction: column;
}



body>div>div {
  border: 2px solid black;
  width:50px;
  height:50px;
}

/* body>div>div:hover {
  background-color: red;
}

body>div:hover {
  background-color: orange;
} */