@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
#gameworld {
  display: flex;
  flex-wrap: nowrap;
}

#gameworld>div {
  display: flex;
  flex-direction: column;
}

/* HUD display box */
#hud {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1px;
  background-color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 10%;
  bottom: 0px;
  left: 0px;
  border: 5px solid red;
}

.p {
  text-align: left;
}

#splash {
  font-size: large;
  z-index: 99999;
  position: fixed;
  text-align: center;
  background-color: white;
  padding: 15px;
  border-style: solid;
  border-color: red;
  margin-left: 20%;
  margin-top: 10%;
  width: 60%;
  height: 60%;
}

/* Character placement class */
.character {
  border: 1px solid blue !important;
}

#gameworld>div>div {
  /* border: 2px solid black; */
  width:50px;
  height:50px;
  background-size: cover;
}

#gameworld>div>div:hover {
  border: 1px solid red !important;
}

#tools {
  position: fixed;
  z-index: 1;
  bottom:10%;
}

/* body>div:hover {
  background-color: orange;
} */


/* SMELTER */

#smelter-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  padding-bottom: 20px;
  font-family: 'Rozha One', serif;
  font-style: bolder;
  box-shadow: inset 2px 1px 20px 1px rgba(0, 0, 0, 0.288);
  background-color: #ffe77aff;
  border: 1px solid black;
  display: none;

  /* positioning */
  position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -150px;
}
#smelter-container > * {
  color: white;
}
#title-smelt {
  color: black;
  padding: 5px;
}
#smelter-container > button {
  padding: 15px;
  margin: 2px;
  width: 75%;
  background-color: green;
  box-shadow: inset 2px 1px 20px 1px rgba(0, 0, 0, 0.288);
}

/* VENDOR */

#vendor-container {
  width: 300px;
  align-items: center;
  padding-bottom: 20px;
  font-family: 'Rozha One', serif;
  font-style: bolder;
  box-shadow: inset 2px 1px 20px 1px rgba(0, 0, 0, 0.288);
  background-color: #ffe77aff;
  border: 1px solid black;
}
#buy, #sell {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#vendor-container > * > *{
  color: white;
}
#title-vendor {
  color: black;
  padding: 5px;
}
#vendor-container > div > button {

  padding: 15px;
  margin: 2px;
  width: 75%;
  background-color: green;
  box-shadow: inset 2px 1px 20px 1px rgba(0, 0, 0, 0.288);
}
