#gameworld {
  display: flex;
  flex-wrap: nowrap;
}

#gameworld>div {
  display: flex;
  flex-direction: column;
}

/* HUD display box */
#hud {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1px;
  background-color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 10%;
  bottom: 0px;
  left: 0px;
  border: 5px solid red;
}

/* Character placement class */
.character {
  border: 1px solid blue !important;
}

#gameworld>div>div {
  /* border: 2px solid black; */
  width:50px;
  height:50px;
  background-size: cover;
}

#gameworld>div>div:hover {
  border: 1px solid red !important;
}

#tools {
  position: fixed;
  z-index: 1;
  bottom:10%;
}

/* body>div:hover {
  background-color: orange;
} */