@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#gameworld {
  display: flex;
  flex-wrap: nowrap;
  margin:200px;
}

#gameworld>div {
  display: flex;
  flex-direction: column;
}

/* HUD display box */
#hud {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1px;
  position: fixed;
  width: fit-content;
  height: 10%;
  bottom: 0px;
  left: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

#hud>div {
  border:2px solid black;
  border-radius: 10px;
  width:fit-content;
  background-color: white;
  padding:10px;
  font-size: 2em;
}
#hud>div>* {
  margin-top: 10px;
  text-align: center;
}



.p {
  text-align: left;
}

#splash {
  font-size: 35px;
  z-index: 99999;
  position: fixed;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-color: red;
  width: 60%;
  height: 60%;
  top:50%;
  left:50%;
  font-size: 100%;
  transform: translate(-50%,-50%);
}

/* Character placement class */
.character {
  border: 1px solid blue !important;
}

#gameworld>div>div {
  /* border: 2px solid black; */
  width:50px;
  height:50px;
  background-size: cover;
}

#gameworld>div>div:hover {
  border: 1px solid red !important;
}

#tools {
  position: fixed;
  z-index: 1;
  bottom:10%;
}

/* body>div:hover {
  background-color: orange;
} */


/* SMELTER */

#smelter-container {
  display: none;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  font-family: 'Rozha One', serif;
  font-style: bolder;
  box-shadow: inset 2px 1px 20px 1px rgba(0, 0, 0, 0.288);
  background-color: #ffe77aff;
  border: 1px solid black;
  display: none;

  /* positioning */
  position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -150px;
}
#smelt-buttons {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#smelter-container > * {
  color: white;
}
#title-smelt {
  color: black;
  padding: 5px;
}
#smelter-container > div > button {
  padding: 15px;
  margin: 2px;
  width: 75%;
  background-color: green;
  box-shadow: inset 2px 1px 20px 1px rgba(0, 0, 0, 0.288);
}

/* VENDOR */

#vendor-container {
  display: none;
  width: 300px;
  align-items: center;
  padding-bottom: 20px;
  font-family: 'Rozha One', serif;
  font-style: bolder;
  box-shadow: inset 2px 1px 20px 1px rgba(0, 0, 0, 0.288);
  background-color: #ffe77aff;
  border: 1px solid black;

  /* positioning */
  position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -150px;
}
#buy, #sell {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#vendor-container > * > *{
  color: white;
}
#title-vendor {
  color: black;
  padding: 5px;
}
#vendor-container > div > div > button {

  padding: 15px;
  margin: 2px;
  width: 75%;
  background-color: green;
  box-shadow: inset 2px 1px 20px 1px rgba(0, 0, 0, 0.288);
}
#vendor-close, #smelter-close {
  color: black;
}